<!DOCTYPE html>
<html>
  <head>
    <title>Category Details</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='category.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Category: {{ category }}</h1>
      <h2>Log Entries:</h2>
      {% for entry in entries %}
      <div class="log-entry">
        <h3>Log Name: {{ entry.LogName }}</h3>
        <p><strong>Record Number:</strong> {{ entry.RecordNumber }}</p>
        <p><strong>Event ID:</strong> {{ entry.EventID }}</p>
        <p><strong>Event Type:</strong> {{ entry.EventType }}</p>
        <p><strong>Source Name:</strong> {{ entry.SourceName }}</p>
        <p><strong>Computer Name:</strong> {{ entry.ComputerName }}</p>
        <p><strong>Time Generated:</strong> {{ entry.TimeGenerated }}</p>
        <p><strong>Time Written:</strong> {{ entry.TimeWritten }}</p>
        <p><strong>Message:</strong></p>
        <pre class="message">{{ entry.Message }}</pre>
      </div>
      {% endfor %} {% if pagination.pages > 1 %} {% set current_page =
      pagination.page %} {% set total_pages = pagination.pages %} {% set
      max_pages = 5 %} {# Maximum number of page links to display #} {% set
      half_max_pages = (max_pages // 2) %} {% set first_page = current_page -
      half_max_pages %} {% set last_page = current_page + half_max_pages %} {%
      if first_page < 1 %} {% set first_page = 1 %} {% set last_page = max_pages
      %} {% endif %} {% if last_page > total_pages %} {% set last_page =
      total_pages %} {% set first_page = total_pages - max_pages + 1 %} {% if
      first_page < 1 %} {% set first_page = 1 %} {% endif %} {% endif %}

      <div class="pagination">
        {% if pagination.has_prev %}
        <a
          class="page-link"
          href="{{ url_for('category', category=category, page=pagination.prev_num) }}"
          >Previous</a
        >
        {% endif %}
        <ul class="pagination-list">
          {% for page in range(first_page, last_page + 1) %} {% if page ==
          pagination.page %}
          <li class="active"><span class="page-link">{{ page }}</span></li>
          {% else %}
          <li>
            <a
              class="page-link"
              href="{{ url_for('category', category=category, page=page) }}"
              >{{ page }}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
        {% if pagination.has_next %}
        <a
          class="page-link"
          href="{{ url_for('category', category=category, page=pagination.next_num) }}"
          >Next</a
        >
        {% endif %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
